*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Times;
}

.profItem, .editArea {
  max-width: 100%;
  margin: 20px 0;
  clear: both;
}

.profItem p, .profItem label, .profItem textarea {
  max-width: 75%;
  height: auto;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  vertical-align: top;
  border: 1px dashed black;
  padding: 3px;
}

.profItem .itemName {
  width: 24%;
  text-align: right;
  border: none;
  padding: none;
}

.container {
  padding-top: 25px;
  overflow: hidden;
}

.button {
  float: right;
  margin-right: 150px;
}

.editArea {
  display: none;
}

.editArea .content-area{
  background-color: rgba(200, 200, 200, .5);
  border: none;
}

.content-area.editing {
  background-color: rgba(200, 0, 0, .2);
}


